.main__userprofile {
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  
}
@media screen and (min-width: 768px){
  .main__userprofile {
    border-right: 1px solid #ebe7fb;
    padding: 0 40px 0 0px;
  }
}

@media screen and (min-width: 992px){
  
}

.profile__card {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.17,
    0.67,
    0.12,
    1.53
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.3s; /* or: Xms */
  margin-bottom: 15px;
}
.profile__card.user__profile__image {
  padding: 10px 10px;
}
.profile__card .profile__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profile__card .profile__image img {
  object-fit: cover;
  max-width: 100%;
}
.profile__card p {
  margin-bottom: 0;
  margin-left: 10px;
  color: #acb3b9;
}
.username{
  word-wrap: break-word;
  width: 100px;
}
@media screen and (min-width: 768px){
  .username{
    width: 200px;
  }
}